<mat-table *ngIf="dataSource.length" [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Package name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Stars Column -->
  <ng-container matColumnDef="stargazers_count">
    <mat-header-cell *matHeaderCellDef> Stars count</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.stargazers_count}} </mat-cell>
  </ng-container>

  <!-- Forks Column -->
  <ng-container matColumnDef="forks">
    <mat-header-cell *matHeaderCellDef> Forks count</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.forks}} </mat-cell>
  </ng-container>
  <!-- Update Column -->
  <ng-container matColumnDef="updated_at">
    <mat-header-cell *matHeaderCellDef> Updated at</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element?.updated_at | date}} </mat-cell>
  </ng-container>
  <!-- Created Column -->
  <ng-container matColumnDef="created_at">
    <mat-header-cell *matHeaderCellDef fxHide.lt-md> Created at</mat-header-cell>
    <mat-cell *matCellDef="let element" fxHide.lt-md> {{element?.created_at | date}} </mat-cell>
  </ng-container>


  <!-- Watch Column -->
  <ng-container matColumnDef="subscribers_count">
    <mat-header-cell *matHeaderCellDef> Watch count</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.subscribers_count}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>