.board-container {
  display: flex;
}

mat-select {
  text-align: left !important;
}

button.broder.mat-stroked-button {
  border-color: grey;
}
.mleft{
margin-left: 10px;
}
.matlistleft{
  margin-left: 30px;
}