<div *ngIf="dataSource.length">
  <mat-list role="list">

    <mat-list-item role="listitem">
      <ng-container *ngIf="dataSource.length">
        <mat-label>Select Package : </mat-label>
        <mat-select [(value)]="selectedPackage" class="mat-stroked-button" (selectionChange)="onSelect(selectedPackage)">
          <mat-option *ngFor="let option of dataSource" [value]="option.packageName">{{option.packageName}}</mat-option>
        </mat-select>
      </ng-container>
    </mat-list-item>

    <mat-list-item role="listitem" *ngIf="selectedPackage">
      <mat-label>Copy npm command : </mat-label>
      <button class="broder" (click)="copyMessage(npmInstall)" mat-stroked-button [(value)]="npmInstall">{{npmInstall}}</button>
    </mat-list-item>

    
    <mat-list-item role="listitem" *ngIf="selectedPackage">
      <mat-label>Copy git url : </mat-label>
      <button class="broder" (click)="copyMessage(gitCloneUrl)" mat-stroked-button [(value)]="gitCloneUrl">{{gitCloneUrl}}</button>
    </mat-list-item>

    <mat-list-item *ngIf="selectedPackage" role="listitem">Version : <button mat-button [(value)]="version">{{version}}
      </button></mat-list-item>

  </mat-list>
</div>