<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label routerLinkActive="active">
      <span [routerLink]="['/graphMode']" data-toggle="tab" title="graph mode">
        <mat-icon class="example-tab-icon">
          <h3 style="margin: 0">graphic_eq</h3>
        </mat-icon>
        Graph View
      </span>
    </ng-template>
  </mat-tab>
  
  <mat-tab>
    <ng-template mat-tab-label routerLinkActive="active">
      <span [routerLink]="['/tableMode']" data-toggle="tab" title="table mode">
        <mat-icon class="example-tab-icon">
          <h3 style="margin: 0">table_chart</h3>
        </mat-icon>
        Table View
      </span>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label routerLinkActive="active">
      <span [routerLink]="['/cardMode']" data-toggle="tab" title="card mode">
        <mat-icon class="example-tab-icon">
          <h3 style="margin: 0">credit_card</h3>
        </mat-icon>
        Card View
      </span>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label routerLinkActive="active">
      <span [routerLink]="['/boardMode']" data-toggle="tab" title="card mode">
        <mat-icon class="example-tab-icon">
          <h3 style="margin: 0">developer_board</h3>
        </mat-icon>
        Board View
      </span>
    </ng-template>
  </mat-tab>
</mat-tab-group>