<nav class="view-switcher" aria-label="Comparison views">
  <a mat-stroked-button routerLink="/graphMode" routerLinkActive="is-active">
    <mat-icon>graphic_eq</mat-icon>
    <span>Graph View</span>
  </a>

  <a mat-stroked-button routerLink="/tableMode" routerLinkActive="is-active">
    <mat-icon>table_chart</mat-icon>
    <span>Table View</span>
  </a>

  <a mat-stroked-button routerLink="/cardMode" routerLinkActive="is-active">
    <mat-icon>credit_card</mat-icon>
    <span>Card View</span>
  </a>

  <a mat-stroked-button routerLink="/boardMode" routerLinkActive="is-active">
    <mat-icon>developer_board</mat-icon>
    <span>Board View</span>
  </a>
</nav>