.filter {
  margin-bottom: 5px;
  padding: 5px;
}

.example-full-width,
.mat-form-field-wrapper {
  width: 50%;
}

.mat-form-field-infix {
  display: inline !important;
}

@media only screen and (max-width: 1024px) {

  .example-full-width,
  .mat-form-field-wrapper {
    width: 100%;
  }
}