  <div class="app-{{appId}}-theme" id="appRootClass">
    <!-- tool bar - start -->
    <mat-toolbar color="warn">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span class="ml5" title="compare node package">
        <h1>Compare Node Package</h1>
        </span>
        <div style="flex: 1 1 auto;" >
          <button mat-button [matMenuTriggerFor]="menu" style="float:right">
            <mat-icon>format_color_fill</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button value='theme1' mat-menu-item (click)="switchTheme('theme1')">Theme 1</button>
            <button value='theme2' mat-menu-item (click)="switchTheme('theme2')">Theme 2</button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- tool bar - end -->
  
  
    <mat-sidenav-container fxFlexFill class="m-sidenav-con">
      <!-- side nav  - start -->
      <mat-sidenav #sidenav>
        <mat-nav-list>
            <div>
                <button mat-button [matMenuTriggerFor]="menu">
                  Select Theme
                </button>
                <mat-menu #menu="matMenu">
                  <button value='theme1' mat-menu-item (click)="switchTheme('theme1')">Theme 1</button>
                  <button value='theme2' mat-menu-item (click)="switchTheme('theme2')">Theme 2</button>
                </mat-menu>
              </div>
          <a (click)="sidenav.toggle()" mat-list-item>
            <mat-icon>close</mat-icon> Close
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <div class="mat-app-background"><!-- 
          <app-dumb-navbar></app-dumb-navbar> -->
          <app-npm></app-npm>      
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
      <!-- side nav  - ends -->
    </mat-sidenav-container>
    <div class="footer-link">
      <a target="_blank" href="https://twitter.com/SaleemMalikRaja">Tweet - Saleem</a>
      |
      <a target="_blank" href="https://twitter.com/Arumuganainar06">Tweet - Arumugam</a>
      |
      <a target="_blank" href="https://github.com/saleemmalikraja/compare-npm-package/issues">Report an issue</a>
    </div>
  </div>