<div class="container margin-top" fxLayout="wrap row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
  <mat-card class="filter">
    <form #filternewsForm="ngForm">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Node Modules" value="" [(ngModel)]='searchString' name="searchString">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)='filterSource(searchString)'>
        <mat-icon>search</mat-icon>
      </button>

    </form>
  </mat-card>
</div>

