/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/_theming.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include mat-core();
body,
html {
	margin: 0 auto;
	height: 100% !important;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-card.filter.mat-card{
 padding: 5px;
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
.app-theme1-theme {
	$my-app-primary: mat-palette($mat-pink, 200); // setting value to primary
	$my-app-accent: mat-palette($mat-pink, 300);
	$my-app-warn: mat-palette($mat-pink, 600);
	  // Create the theme object (a preprocessor map containing all of the palettes).
	$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn); 
	  // Include theme styles for core and each component used in your app.
	  // Alternatively, you can import and @include the theme mixins for each component
	  // that you are using.
	  @include angular-material-theme($my-app-theme); 
  }
  
  .app-theme2-theme {
	$alternate-primary: mat-palette($mat-deep-purple, 200);
	$alternate-accent: mat-palette($mat-deep-purple, 300);
	$alternate-warn: mat-palette($mat-deep-purple, 600);
	$alternate-theme: mat-light-theme($alternate-primary, $alternate-accent, $alternate-warn);
	@include angular-material-theme($alternate-theme);
  }