/* .theme1{
  .mat-expansion-panel-header:not([aria-expanded=false]),
mat-expansion-panel-header {
  background-color: #d81b60 !important;
  font: white;
}
}

.theme2{
  .mat-expansion-panel-header:not([aria-expanded=false]),
mat-expansion-panel-header {
  background-color: #5e35b1 !important;
  font: white;

}

} */
mat-expansion-panel{
  border: solid 1px grey;
}

.mat-expansion-panel-header:not([aria-expanded=false]), mat-expansion-panel-header {
  background-color: #e9e9e9 !important;

}

.mat-expanded.mat-expansion-panel-spacing {
  margin: 10px 0 10px 0 !important;
}

.expand-more {
  background-color: #c8c8c8;
  border-radius: 20px;
  margin-top: 3px;
}

.expand-less {
  background-color: #646464;
  border-radius: 20px;
}
