/* .theme1{
  .mat-expansion-panel-header:not([aria-expanded=false]),
mat-expansion-panel-header {
  background-color: #d81b60 !important;
  font: white;
}
}

.theme2{
  .mat-expansion-panel-header:not([aria-expanded=false]),
mat-expansion-panel-header {
  background-color: #5e35b1 !important;
  font: white;

}

} */
mat-expansion-panel {
  border: solid 1px grey;
}

.mat-input-element:disabled{
color: black !important;
}
.mat-expansion-panel-header:not([aria-expanded=false]),
mat-expansion-panel-header {
  background-color: #e9e9e9 !important;

}

.mat-expanded.mat-expansion-panel-spacing {
  margin: 10px 0 10px 0 !important;
}

@media only screen and (max-width: 425px) {
  mat-panel-title {
    width: 45%;
  }

  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
