.mat-expansion-panel-header:not([aria-expanded=false]) {
    background-color: #c8c8c8 !important;
  
  }
  
  .mat-expanded.mat-expansion-panel-spacing{
      margin: 10px 0 10px 0 !important;
  }
  
  .expand-more {
    background-color: c8c8c8; 
    border-radius: 20px;
  }
  
  .expand-less {
    background-color: #646464;
    border-radius: 20px;
  }